<!DOCTYPE html>
<html>
<head>

    <style>
        @font-face { font-family: 'Goyang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff'); font-weight: normal; font-style: normal; }
    
        body {
            font-family: 'Goyang';
            color: black;
            text-align: center;
            background-color: lightblue;
        }

        h1{
            color:salmon;
        }

    </style>

</head>
<body>
<br><br><br>
 {% block content %}
 {% endblock %}

</body>
</html>